.notFound{
  height: 500px;
  width: 100%;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}
.text{
  color: grey;
  font-size: 48px;
  width: 100%;
  text-align: center;

}